body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #f6f5eb;
    color: #2b2b2b;
}

.page {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background: #eae7d9;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: .3s;
    height: 128px;
}

.card:hover {
    transform: translateY(-4px);
}

.card-info {
    z-index: 1;
}

.card-info h3 {
    margin: 0;
    font-size: 18px;
}

.eng {
    font-size: 13px;
    opacity: .6;
}

.card-image {
    position: absolute;
    top: 0;
    right: 0;
}

.card-image img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 70%;
}

.info-btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 3;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s ease;
}

.info-btn:hover {
    background: #6b675a;
    transform: scale(1.1);
}