/* Общий фон */
body {
    font-family: Arial, sans-serif;
    background: #f3f3f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    justify-content: center;
    align-items: center;
    display: flex;
}
/* Карточка */
.card {
    background: #ffffff;
    width: 350px;
    padding: 25px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    text-align: left;
}

.card h2 {
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Подписи */
.label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

/* Поля ввода */
.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

.input:focus {
    border-color: #3c7df0;
    outline: none;
}

/* Кнопка */
.btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
    color: white;
    background: #3c7df0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.btn:hover {
    background: #2f63c4;
}